body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Playfair Display SC", serif;
	background-color: #0072BB;
}

section {
	display: block;
	width: 80vw;
	background-color: white;
	padding-right: 20vw;
}

h1 {
	color: black;
	margin: 0;
	padding: 0;
	padding-top: 5vh;
	font-size: 20pt;
	margin-left: 20vw;
}

.titel {
	color: white;
	margin-left: 0;
}

h2 {
	color: black;
	margin: 0;
	padding: 0;
	padding-top: 2vh;
	font-size: 16pt;
	margin-left: 20vw;
}

.meny h2 {
	padding-top: 5vh;
}

h3 {
	color: black;
	font-weight: 100;
	margin: 0;
	padding: 0;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 16pt;
	margin-left: 20vw;
}

.item h3 {
	margin-left: 0;
}

p {
	color: black;
	font-weight: 100;
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-style: italic;
	padding-bottom: 1vh;
}

.price {
	font-weight: bold;
}

.more {
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-style: normal;
}

button {
	height: 6vh;
	width: fit-content;
}

a {
	text-decoration: none;
	color: white;
}

img {
	margin: 0;
	padding: 0;
	width: 60vw;
	margin-left: 20vw;
}

.banner-top {
	background-color: #0072BB;
	width: 100vw;
	height: 16vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-top h1 {
	padding-top: 1vh;
}

.nav-top {
	width: 80vw;
	display: flex;
	justify-content: space-evenly;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.item {
	margin-left: 20vw;
	/* margin-right: 15vw; */
	border-top: 2px solid black;
}

.showmore {
	margin-left: 20vw;
	margin-bottom: 3vh;
	/* margin-right: 15vw; */
	border-top: 2px solid black;
	cursor: pointer;
}

/* Video Section */
.video {
	position: relative;
	width: 100%;
	height: auto;
}

.video video {
	width: 100%;
	height: auto;
	display: block;
}

.blue {
	background-color: #0072BB;
	margin-left: 20vw;
	margin-top: 2vh;
}

.blue p {
	color: white;
}
